body {
  background-color: #383838;
  margin: 0;
}

a {
  text-decoration: none;
  color: red;
  font-size: 100%;
}

a:hover {
  color: darkred;
}

.navHeader a {
  font-size: 150%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

header img {
  width: 8%;
  padding-left: 3%;
}

.navMain a:hover {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}

input {
  width: 30%;
  height: 25%;
  margin-top: 2rem;
}

header {
  position: sticky;
  top: 0;
  font-family: "Roboto Slab", serif;
}

header .navHeader {
  background-color: #1d1d1d;
  height: 7rem;
  text-align: center;
}

header .navMain {
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  height: 10%;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.603);
  font-size: 32px;
  padding-left: 10%;
  padding-right: 10%;
}

footer {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.603), 0px -5px 5px rgba(0, 0, 0, 0.603);
  background-color: #1d1d1d;
  color: white;
  margin-top: 10%;
}

main {
  text-align: center;
}

h1 {
  color: white;
}

.shirtsDropdown {
  position: relative;
  display: inline-block;
}

.shirtsDropdown-content {
  justify-content: space-between;
  display: none;
  position: absolute;
  background-color: #1d1d1d;
  width: 153vh;
  height: 45px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.603);
  padding: 12px 16px;
}

.shirtsDropdown:hover .shirtsDropdown-content {
  display: block;
  display: flex;
}

.shirtsDropdown-content a {
  text-decoration: none;
  color: white;
  display: flex;
  font-size: 18px;
}

.shirtsDropdown-content a:hover {
  text-decoration: underline;
}

.banner {
  margin-top: 3%;
}

.banner img {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.603);
  width: 70%;
}

.featured {
  margin-top: 3%;
}

.featured img {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.603);
  width: 50%;
}

.products {
  margin: auto;
}

.pruducts ul {
  padding: 0;
  list-style-type: none;
}

.products img {
  width: 12rem;
}



.content {
  margin-top: 2%;
  font: "arial";
  padding-left: 13.5%;
  font-size: 120%;
  display: flex;
  flex-wrap: wrap;
  text-align:justify;
  width: 75%;
  min-height: calc(70vh - 70px);
  color: white;
}
.footer {
  height: 50px;
  padding: 3%;
}

@media (max-width: 950px) {
  header input {
    width: 10%;
  }
  header img {
    display: none;
  }
}
